<a href="https://colab.research.google.com/github/Aniketbandral/002_Anikait_COM_511/blob/main/Python_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a Matrix, the task is to write python program to reverse every Kth row. Where, K is
some span value. **bold text**

In [66]:
lst=[[5,6,2],[25,4,13],[4,6,3],[7,40,4],[9,7,8],[5,3,1]]

print('Original list is',lst)
k=int(input('Enter the index no:'))
new_lst=[]
for i,ele in enumerate(lst):
    if i%k==0:
        new_lst.append(list(reversed(ele)))  
    else:
        new_lst.append(ele)

print("After reversing:",new_lst)

Original list is [[5, 6, 2], [25, 4, 13], [4, 6, 3], [7, 40, 4], [9, 7, 8], [5, 3, 1]]
Enter the index no:2
After reversing: [[2, 6, 5], [25, 4, 13], [3, 6, 4], [7, 40, 4], [8, 7, 9], [5, 3, 1]]